<header>
  <app-nav></app-nav>
  <main class="header-container">
    <div class="header-content">
      <h1>Encontre todos os seus Pokémon favorito</h1>
      <h2>
        Explore o mundo dos Pokémons como nunca antes - A Pokedex mais completa
        do mercado, com informações detalhadas de todos os Pokémons existentes!
      </h2>
      <a class="header-content-button" href="#" title="Ver mais...">
        Pokédex já!
      </a>
    </div>
    <div class="header-hero">
      <img src="../../../assets/hero.svg" alt="Imagem Pikachu" />
    </div>
  </main>
</header>
