<header>
  <app-nav></app-nav>
  <main class="header-container">
    <div class="header-content">
      <h1>Encontre todos os seus Pokémon favorito</h1>
      <h2>
        Explore o mundo dos Pokémons como nunca antes - A Pokedex mais completa
        do mercado, com informações detalhadas de todos os Pokémons existentes!
      </h2>
      <a routerLink="pokedex" class="header-content-button" href="#" title="Ver mais...">
        Pokédex já!
      </a>
    </div>
    <div class="header-hero">
      <picture>
        <source srcset="../../../assets/hero_mobile.svg" media="(max-width: 768px)">
        <source srcset="../../../assets/hero.svg" media="(min-width: 769px)">
        <img srcset="../../../assets/hero.svg" alt="imagem Pikachu">
      </picture>
    </div>
  </main>
  <footer class="header-footer">
    <p>
      <strong>Pokémon &copy; {{ currentYear }}</strong>
    </p>
  </footer>
</header>
