<nav class="nav" [ngClass]="{bg_color: pokedexRouting.isActive}">
  <div class="nav-container">
    <a href="#">
      <img class="logo" src="../../../assets/Logo.svg" alt="Logo Pokémon" />
    </a>
    <div (click)="handleMenuMobile()" class="menu-burguer">
      <img src="../../../assets/menu.svg"/>
    </div>
    <ul [ngClass]="{active: showMenuMobile}" class="nav-links">
      <li (click)="showMenuMobile = false" class="menu-burguer-close">&times;</li>
      <li class="nav-link">
        <a title="Início" href="#">Início</a>
      </li>
      <li class="nav-link">
        <a title="Pokedéx" routerLinkActive #pokedexRouting="routerLinkActive" routerLink="/pokedex">Pokedéx</a>
      </li>
      <li class="nav-link">
        <a title="Lendários" href="#">Lendários</a>
      </li>
      <li *ngIf="pokedexRouting.isActive" class="nav-link">
          <img src="../../../assets/sunny.png" alt="Modo Dark theme"/>
      </li>
    </ul>
  </div>
</nav>
