<app-nav (setDarkTheme)="setDarkTheme($event)" [isDarkTheme]="isDarkTheme"></app-nav>
<main class="container " [ngClass]="{'bg-color-dark': isDarkTheme}">
  <section class="container-pokemon">
    <div class="container-pokemon-search">
      <h1 class="title-main">
        {{listPokemonsAll.length}} <strong>pokémons</strong> para você escolher o seu preferido.
      </h1>
      <input
        class="input-search"
        [ngClass]="{'input-search-dark': isDarkTheme}"
        type="text"
        placeholder="Pesquisar pokémon..."
        [(ngModel)]="inputValue"
        (keyup)="filterPokemonPerName()"
      />
      <div class="container-search-filter">
        <div class="filter-item" [ngClass]="{'filter-item-dark': isDarkTheme}">
          <p>Tipo</p>
          <img class="arrow" src="assets/arrow-down-s-fill.svg" />
        </div>
        <div class="filter-item" [ngClass]="{'filter-item-dark': isDarkTheme}">
          <p>Tipo</p>
          <img class="arrow" src="assets/arrow-down-s-fill.svg" />
        </div>
        <div class="filter-item" [ngClass]="{'filter-item-dark': isDarkTheme}">
          <p>Tipo</p>
          <img class="arrow" src="../../../assets/arrow-down-s-fill.svg" />
        </div>
      </div>
      <div class="container-all-pokemons" [ngClass]="{'alignPokes': listPokemons.length <= 2}">
        <div
          *ngIf="isLoading; else loadingSucess"
          class="o-pokeball u-bounce"
        ></div>
        <ng-template #loadingSucess>
          <div
            class="container-pokemon-item"
            [ngClass]="{'bg-card-color': isDarkTheme}"
            *ngFor="let pokemon of listPokemons"
            (click)="openDetailsPokemon(pokemon)"
          >
            <div [style]="{'background-color': pokemon?.species?.color?.name, 'opacity': '0.7'}" class="pokemon-background-color"></div>
            <div class="pokemon-infor">
              <p>
                <strong>
                  {{ pokemon.name }}
                </strong>
              </p>
              <div class="pokemon-status-all">
                <div class="pokemon-status">
                    <p class="pokemon-status-semi-circle" [ngClass]="{'semi-circle-theme': isDarkTheme}">{{pokemon.status.stats[1].base_stat}}</p>
                    <p class="pokemon-status-semi-circle" [ngClass]="{'semi-circle-theme': isDarkTheme}">{{pokemon.status.stats[2].base_stat}}</p>
                </div>
                <div class="pokemon-status">
                  <p>Defesa</p>
                  <p>Ataque</p>
                </div>
                <div class="pokemon-type">
                  <p>{{typePokemonConvertToPortugues(pokemon?.status?.types[0]?.type.name)}}</p>
                  <p *ngIf="pokemon?.status?.types[1]?.type?.name">
                    {{typePokemonConvertToPortugues(pokemon.status.types[1].type.name)}}
                  </p>
                </div>
              </div>
            </div>
            <div class="pokemon-img">
              <img
                [src]="pokemon?.status?.sprites?.other?.dream_world?.front_default"
                [alt]="pokemon.name"
              />
            </div>
          </div>
        </ng-template>
        <div *ngIf="!isLoading && listPokemons.length === 0" class="no-results">
          <h3>Oops... parece que pesquisa não retornou resultados!</h3>
          <img src="assets/no results.png" alt="Sem resultados!" />
        </div>
      </div>
    </div>
    <div [ngClass]="{ active: isModalOpen }" class="pokemons-details-modal">
      <div class="pokemon-modal">
        <div *ngIf="isLoadingModal; else modalSucess" class="o-pokeball u-bounce"></div>
        <ng-template #modalSucess>
          <div class="close-modal" (click)="closeModalContainer()">&times;</div>
            <div [style]="{background: pokemonSelected?.color?.name}" class="pokemon-modal-img"></div>
            <div class="pokemon-modal-status"></div>
        </ng-template>
      </div>
    </div>
  </section>
</main>
