@use "../../../app/scss/medias.scss";

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.3rem;
  padding-bottom: 4rem;

  .container-pokemon {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include medias.small-medium {
      width: 100%;
    }
  }

  .container-pokemon-search {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    height: 100%;

    @include medias.small-medium {
      width: 90%;
      margin: 0 auto;
    }
  }

  .title-main {
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;

    @include medias.small {
      font-size: 2rem;
      max-width: 300px;
      margin: 0 auto;
    }

    @include medias.small-medium {
      font-size: 2.2rem;
      max-width: 300px;
      margin: 0 auto;
    }

    @include medias.medium {
      font-size: 2.4rem;
      max-width: 300px;
      margin: 0 auto;
    }

    @include medias.medium-large {
      max-width: 330px;
      margin: 0 auto;
    }
  }

  .input-search {
    outline: none;
    border: transparent;
    background: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 40px;
    width: 100%;
    height: 45px;
    padding: 1.6rem 2.2rem;
  }

  .input-search::placeholder {
    transition: 0.5s ease;
  }

  .input-search:focus::placeholder {
    transition: 0.5s ease;
    opacity: 0;
  }

  .container-search-filter {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2.4rem;
  }

  .filter-item-list {
    position: absolute;
    top: 35px;
    width: 120px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 1.2rem;
    z-index: 9;
    max-height: 0rem;
    pointer-events: none;
    opacity: 0;
    overflow-y: scroll;
    background-color: #282828;
    font-size: 1.4rem;
    transition: 0.5s ease;
  }

  .filter-item-list.active {
    max-height: 20rem;
    opacity: 1;
    pointer-events: all;
  }

  /* Scroll */

  /* Works on Chrome, Edge, and Safari */
  .filter-item-list::-webkit-scrollbar {
    width: 3px;
  }

  .filter-item-list::-webkit-scrollbar-track {
    background: #282828;
  }

  .filter-item-list::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 20px;
    border: 3px solid #eee;
  }

  .filter-item-list-light {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    color: #212121;
  }

  .filter-item-list-light::-webkit-scrollbar {
    width: 3px;
  }

  .filter-item-list-light::-webkit-scrollbar-track {
    background: #fff;
  }

  .filter-item-list-light::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
    border: 3px solid #000;
  }

  /* Scroll */

  .filter-item-checkbox {
    display: flex;
    gap: 0.8rem;
  }

  .filter-item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    background: #f9f9f9;
    padding: 0.6rem;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .arrow {
    position: absolute;
    right: 5px;
    width: 18px;
  }

  .container-all-pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem;
    height: 100%;
    justify-content: center;
    min-height: 400px;
  }

  .container-pokemon-item {
    flex: 0 0 24%;
    height: 22rem;
    min-width: 300px;
    background: #f9f9f9;
    display: flex;
    padding: 0 2.4rem;
    padding-right: 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
    position: relative;

    @include medias.small {
      flex: 1;
      font-size: 1.4rem;
    }

    @include medias.small-medium {
      font-size: 1.4rem;
    }

    @include medias.pokemon-item-media {
      min-width: 0;
      flex: 0 0 47%;
      font-size: 1.4rem;
    }
  }

  .container-all-pokemons .container-pokemon-item:last-child {
    align-self: flex-start;
  }

  .pokemon-infor {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;

    > p {
      text-transform: capitalize;
    }
  }

  .pokemon-status-all {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .pokemon-status {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }

  .pokemon-status-semi-circle {
    align-self: center;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #212121;
  }

  .pokemon-type {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;

    p {
      border-radius: 11px;
      box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
      padding: 0.6rem 0.8rem;
      color: #fff;
    }

    @include medias.small {
      justify-content: flex-start;
    }
  }

  .pokemon-img {
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    img {
      max-width: 8rem;
    }
  }
}

.pokemons-details-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease;
  z-index: 99;
  overflow-y: scroll;
  align-items: center;
  padding: 2.2rem 0;

  @include medias.small {
    align-items: flex-start;
  }

  @include medias.small-medium {
    align-items: flex-start;
  }

  @include medias.medium {
    align-items: flex-start;
  }

  @include medias.medium-large{
    align-items: flex-start;
  }

  .pokemon-modal {
    position: relative;
    background-color: #ffffff;
    min-width: 800px;
    height: 80%;
    max-height: 600px;
    border-radius: 1.6rem;
    display: flex;
    transform: translateY(-100px);
    transition: 1s ease;
    padding: 3.2rem 0;


    @include medias.small {
      gap: 2.2rem;
      padding: 3.2rem 0;
      flex-direction: column;
      min-width: 90%;
      min-height: 100%;
      height: max-content;
      max-height: 600px;
    }

    @include medias.small-medium {
      gap: 2.2rem;
      padding: 3.2rem 0;
      flex-direction: column;
      min-width: 90%;
      min-height: 100%;
      height: max-content;
      max-height: 600px;
    }

    @include medias.medium {
      gap: 2.2rem;
      padding: 3.2rem 0;
      min-width: 90%;
      min-height: 100%;
      height: min-content;
      max-height: 600px;
    }
  }

  .animation-down {
    transform: translateY(0);
  }

  .pokemon-modal-img {
    flex: 1 0 50%;
    border-top-left-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      padding-bottom: 4rem;
    }

    img {
      max-width: 200px;
    }

    @include medias.small {
      h2 {
        font-size: 1.8rem;
      }

      img {
        max-width: 14rem;
      }
    }

    @include medias.small-medium {
      h2 {
        font-size: 1.8rem;
      }

      img {
        max-width: 14rem;
      }
    }
  }

  .pokemon-modal-status {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .status-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.6rem;
      width: 80%;
      max-width: 300px;
    }

    .line-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
      width: 100%;
      color: #000;
    }

    .line {
      background-color: #eeeeeedd;
      width: 100%;
      height: 8px;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
    }

    .line-value {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #000000aa;
      height: 100%;
      width: 20%;
    }

    @include medias.small {
      .line-item {
        font-size: 1.4rem;
      }
    }

    @include medias.small-medium {
      .line-item {
        font-size: 1.4rem;
      }
    }
  }

  .close-modal {
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 1rem;
    font-size: 2.8rem;
    cursor: pointer;
  }
}

.pokemon-background-color {
  height: 10px;
  width: 10px;
  position: absolute;
  right: 0;
  height: 100%;
  width: 80%;
  border-radius: 0px 8px 8px 0px;
}

.pokemons-details-modal.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s ease;
}

.no-results {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
  font-weight: 500;

  img {
    width: 100px;
  }
}
$size: 50px;

.u-bounce {
  animation: bounce 1000ms infinite alternate-reverse;
  //animation-timing-function: cubic-bezier(0,1.28,0,1.27);
}

.o-pokeball {
  width: $size;
  height: $size;
  border-radius: $size;
  border: solid ($size/25) black;
  position: relative;
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  margin: 10px auto;

  &:before,
  &:after {
    content: "";
    display: block;
  }

  &,
  &:before,
  &:after {
    transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75);
  }

  &:before {
    width: $size;
    height: ($size/2) -($size/25/2);
    border-bottom: solid ($size/25) black;
    border-radius: ($size/2) ($size/2) 0 0;
    background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
  }

  &:after {
    content: "";
    width: $size/5;
    height: $size/5;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 0 ($size/50) black, 0 0 0 ($size/25) #ddd,
      0 0 0 ($size/14) black, 0 0 ($size/10) ($size/17) rgba(0, 0, 0, 0.4);
  }
}

@keyframes bounce {
  from {
    transform: translateY(100px);
  }
}

/* Dark theme */

.container-all-pokemons .bg-card-color {
  background-color: #282828;
  color: #908d96;
}

.bg-color-dark {
  background-color: #161616;
  color: #908d96;
}

main {
  .filter-item-dark {
    background-color: #282828;
  }

  .input-search-dark {
    background-color: #282828;
    color: #908d96;
  }

  .container-all-pokemons .semi-circle-theme {
    border: 3px solid #908d96;
  }
}

.container-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 2.2rem 0;
  padding-top: 3.2rem;

  button {
    min-width: 21.7rem;
    min-height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s ease;
    border: none;

    font-size: 1.6rem;

    &:hover {
      transform: scale(1.05);
    }
  }

  .button-dark {
    background-color: #282828;
    color: #908d96;
  }
  .button-light {
    background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
    color: #fff;
  }

  .button-desactive {
    background: #cecece;
    color: #161616;
  }
}

.loader {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
